<ion-view view-title="Give" ng-controller="giveCtrl">
    <ion-content class="padding">
        <form>

            <label class="item item-select" id="contactUs-select3">
                <span class="input-label">Campus</span>
                <select>
                    <option>CHLOORKOP</option>
                    <option>TEMBISA</option>
                    <option>ROODEPOORT</option>
                    <option>MIDRAND</option>
                </select>
            </label>

            <label class="item item-select" id="contactUs-select3">
                <span class="input-label">Were to Sow</span>
                <select>
                    <option>TITHE</option>
                    <option>OFFERING</option>
                    <option>HANDS OF RESTORATION</option>
                    <option>TEEN POWER CAMPS</option>
                    <option>BUILDING PROJECTS</option>
                </select>
            </label>

            <button class="button button-balanced button-block icon-left ion-android-hand">Pay Now</button>

            <div style="height:15px;"></div>

            <div class="list card">

                <div class="item">
                    <h2>Church Banking Details</h2>
                </div>
                <div class="item item-body">

                    <b>Bank:</b>
                    <br>ABSA<br>
                    <b>Account Name:</b>
                    <br>Hope Restoration Ministries<br>
                    <b>Branch Name:</b>
                    <br>Central Avenue<br>
                    <b>Branch Code:</b>
                    <br>6325005<br>
                    
                </div>

            </div>

            <div style="height:10px;"></div>

            <div class="list card">

                <div class="item">
                    <h2>Account Numbers</h2>
                </div>
                <div class="item item-body">

                    <b>Tithes &amp; Offering:</b>
                    <br>405 406 7064<br>
                    <b>Building Project:</b>
                    <br>909 466 6172<br>
                    <b>Little Hope Nursery:</b>
                    <br>408 166 1621<br>
                    <b>Leadership Academy:</b>
                    <br>407 726 9441<br>
                    <b>Hands of Restoration:</b>
                    <br>407 832 4971<br>
                    <b>HRM Media:</b>
                    <br>407 903 7634<br>
                    <b>HRM Camp:</b>
                    <br>407 903 7634<br>
                    <b>Hope Restoration College:</b>
                    <br>408 134 5283<br>
                    <b>Conference Account:</b>
                    <br>408 177 7787<br>
                    <b>Tembisa Account:</b>
                    <br>407 920 5302<br>

                </div>

            </div>

        </form>
    </ion-content>
</ion-view>